doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Dots by Furqan Software
    
    link(rel='icon', href='/favicon.png')
    link(rel='manifest', href='/dots.webmanifest')

    link(rel='stylesheet', href='//fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Major+Mono+Display:wght@400&display=swap')
    link(rel='stylesheet', href='//api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/cosmo/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css')
    link(rel='stylesheet', href='/assets/screen.css')

    script(src='//api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js')
    script(src='/assets/jquery.min.js')
    script(src='/assets/jquery.history.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/feather-icons/4.27.0/feather.min.js')
    
    script(type='text/javascript')
      | mapboxgl.accessToken = '#{MAPBOX_TOKEN}'

    if GOSQUARED_KEY
      script(type='text/javascript')
        | var GoSquared={};GoSquared.acct='#{GOSQUARED_KEY}';(function(w){function gs(){w._gstc_lt=+new Date;var d=document,g=d.createElement('script');g.type='text/javascript';g.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';var s=d.getElementsByTagName('script')[0];s.parentNode.insertBefore(g,s);}w.addEventListener ?w.addEventListener('load',gs,false) :w.attachEvent('onload',gs);})(window);

    script(src='/assets/main.js')

  body
    div.container-fluid
      header#head
        div.row
          div.col-md-3
            a.logo(href='/')
              h1 Dots
            p.credit  By 
              | 
              a(href='https://furqansoftware.com') Furqan Software

          div.col-md-9
            div#prompt
              form.form-horizontal(spellcheck='false')
                div.form-group
                  div.col-md-6
                    div.input-group
                      input.form-control(type='text', name='addr', data-toggle='tooltip', title='Enter a domain name or IP address, e.g. toph.co or 172.104.160.52', autocomplete='off')
                      span.input-group-btn
                        button.btn.btn-primary
                          i(data-feather='chevron-right', style='float: left;')

      div#main
        section#home

        section#results 
          ul.nav.nav-pills
            li.a
              a A
            li.aaaa
              a AAAA
            li.cname
              a CNAME
            li.mx
              a MX
            li.naptr
              a NAPTR
            li.ns
              a NS
            li.ptr
              a PTR
            li.soa
              a SOA
            li.srv
              a SRV
            li.txt
              a TXT
            li.rdns
              a rDNS
            li.whois
              a WHOIS
            li.geo
              a Geo

          section#a
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Address
                      th TTL
                  tbody

          section#aaaa
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Address
                      th TTL
                  tbody

          section#cname
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Data
                      th TTL
                  tbody

          section#mx
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Priority
                      th Exchange
                      th TTL
                  tbody

          section#naptr
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Order
                      th Preference
                      th Flags
                      th Service
                      th Regexp
                      th TTL
                  tbody

          section#ns
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Data
                      th TTL
                  tbody

          section#ptr
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Data
                      th TTL
                  tbody

          section#soa
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Primary
                      th Admin
                      th Serial
                      th Refresh
                      th Retry
                      th Expiration
                      th Minimum
                      th TTL
                  tbody

          section#srv
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Priority
                      th Weight
                      th Port
                      th Target
                      th TTL
                  tbody

          section#txt
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Data
                      th TTL
                  tbody

          section#rdns
            div.row
              div.col-md-12
                table.table.table-bordered
                  thead
                    tr
                      th Address
                  tbody

          section#whois
            div.row
              div.col-md-12
                pre

          section#geo
            div.row
              div.col-md-12
                div.map

    a.github-fork-ribbon(href='https://github.com/FurqanSoftware/dots', data-ribbon="Fork me on GitHub",  title="Fork me on GitHub") Fork me on GitHub

    script(type='text/javascript').
      feather.replace({ width: 21, height: 21, 'stroke-width': 4 })

    script(data-goatcounter="https://goatcounter.dots.fsapp.co/count" src="//goatcounter.dots.fsapp.co/count.js" async)
